   p{
            color: blue;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: green;
            text-align: center;
        }
        a:hover{
            text-decoration: underline;
            color: cyan;
        }
        *{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        h1{
            text-align: center;
        }
        hr{
            color: pink;
        }
        img{
            display: flex;
            justify-content: center;
        }